name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches:
      - main  # Workflow triggers when code is pushed to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build Docker image
      run: docker build -t mshams0369/new:latest .

    - name: Push Docker image
      run: docker push mshams0369/new:latest
